<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/body.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
    
    
    <title>Security Camera Hash Store on Blockchain!</title>
  </head>
  <body>
      <h3 class="center"><a class="btn-floating btn-large pulse"><i class="material-icons">cloud</i></a></h3>
      <h3 class="center">Welcome to Security Camera Footage of University of Chittagong</h3>
      <br/>
      <div id="welcome_icons">
        <h4>Deparment of Computer Science and Engineering</h4>
          <table>
              <thead>
                <tr>
                    <th>Video Hash Code</th>
                    <th>Upload Time</th>
                </tr>
              </thead>
      
              <tbody>
                  {% for arr in transactions %}
                  <tr>
                    <td>{{ arr['Hash_Code'] }}</td>
                    <td>{{ arr['Upload_Time'] }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>     
      </div>

      <div class="center">
        <h5>A web-application made with Python & MaterializeCSS.</h5>
      </div>
      <script>
      setTimeout(function(){
        window.location.reload(1);
      }, 5000);
      </script>
  </body>
</html>
